@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

:root {
    --cor-primaria: #0646a2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kalam", cursive;
    color: white;
}

body {
    min-height: 100vh;
    background: linear-gradient(
        0deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 12%,
        rgba(0, 212, 255, 1) 100%
    );
}



/* ===== HEADER ===== */

.topo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    padding: 0 30px;
    border-bottom: 4px solid var(--cor-primaria);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #02bbee;
    z-index: 10;
}


.titulo {
    font-size: 18px;
    font-weight: bold;
    color: #0646a2;
}

.logos {
    position: absolute;
    right: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}


.logo-conder {
    height: 26px;
}

.logo-governo {
    height: 60px;
}

/* ===== CONTEÚDO CENTRAL ===== */
.container {
    min-height: 100vh;
    padding-top: 80px; 
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
}


/* ===== PERFIL ===== */
.container-imagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    max-width: 700px;
}

.container-imagem h3 {
    font-size: 14px;
    font-weight: 400;
}

.img {
    background-image: url('./perfil.png');
    height: 180px;
    width: 180px;
    background-size: cover;
    border-radius: 50%;
    border: 3px solid #02a3de;
    animation: mudarCor 2s infinite;
}

/* ===== BOTÕES ===== */
.container-botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.botao {
    width: 320px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    box-shadow: 5px 4px 2px rgba(0,0,0,1);
    transition: all 0.2s ease;
}

.botao i {
    position: absolute;
    left: 20px;
    font-size: 24px;
}

.botao span {
    font-size: 20px;
}

.botao:hover {
    background-color: black;
    transform: scale(0.97);
}

/* ===== FOOTER ===== */
.rodape-fixo {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background: #070663;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
}

/* ===== ANIMAÇÕES ===== */
@keyframes mudarCor {
    0%   { border-color: #02bbee; }
    25%  { border-color: #02a3de; }
    50%  { border-color: #056dbb; }
    75%  { border-color: #02a3de; }
    100% { border-color: #056dbb; }
}
